a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}

.mat-icon {
    color:rgba(80, 80, 80, 0.425)
}
 
.footer-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer-items span {
    padding-right: 35px;
}

.footer-first {
    color:rgba(80, 80, 80, 0.425)
}