<mat-toolbar color='primary'  fxHide.sm  fxHide.xs>
    <div fxFlex fxLayout="row" fxFill fxFlex>
        <div class="footer-first" fxLayoutAlign="end"fxFlex='20' >
            <div fxLayout>
                <!-- <p>&copy; 2020 hans-design.com</p> -->

            </div>
        </div>
        <div class="footer-second" fxFlex='60' fxLayout fxLayoutAlign="center center"   >
            <ul  fxLayout fxLayoutGap="65px" class="footer-items">
                <!-- <li>
                    <p>&copy; 2020 hans-design.com</p>
                </li> -->
                <!-- <li>
                    <a target="__blank" href="https://www.facebook.com/Hansinterior/"><fa-icon [icon]="['fab', 'facebook']" [style]="{ 'color':'rgba(80, 80, 80, 0.425)'}" size="lg"></fa-icon></a>
                </li>
                <li>
                    <a target="__blank" href="https://www.instagram.com/hans.interiordesign/?hl=zh-hk"> <fa-icon [icon]="['fab', 'instagram']" [style]="{ 'color':'rgba(80, 80, 80, 0.425)'}" size="lg"></fa-icon></a>
                </li>
                <li>
                  <a target="__blank" href="mailto:info@hansdesign.com.hk"> <mat-icon class="mat-icon">email</mat-icon></a>
              </li>
              <li>
                  <a target="__blank" href="https://api.whatsapp.com/send?phone=85297263775"> <mat-icon class="mat-icon">perm_phone_msg</mat-icon></a>
              </li> -->
            </ul>
        </div>

    </div>
</mat-toolbar>