  
    <mat-grid-list fxShow  fxHide.xs fxHide.sm fxHide.md class="product-list" fxFlex gutterSize="10px" cols="3" rowHeight="500px">
      <mat-grid-tile *ngFor="let product of products">
        <div fxFill class="product-wrap">
          <mat-card class="mat-card-product">
            <img class="product-image"
             (click)="openDialog(product)" 
             mat-card-lg-image [src]="product.images">
             <mat-card-content class="product-text">
              <p >
                {{ product.title }}
              </p>
              <p>
                {{ product.price | currency:'HKD'}}
              </p>
              <p>
                {{ product.description }}
              </p>
             </mat-card-content>
             <button mat-raised-button color="primary" (click)="addToCart(product)" >Add to Cart</button>
             <button mat-raised-button color="accent" (click)="openDialog(product)" >View Details</button>

          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  
  
  
    <mat-grid-list fxHide fxShow.xs  fxShow.sm  fxShow.md class="product-list-compress" fxFlex gutterSize="5px" cols="1" rowHeight="500px">
      <mat-grid-tile *ngFor="let product of products">
        <div fxFill class="product-wrap">
          <mat-card class="mat-card-product">
            <img class="product-image" 

            mat-card-lg-image [src]="product.images">
            <mat-card-content class="product-text">
              <p >
                {{ product.title }}
              </p>
              <p>
                {{ product.price | currency:'HKD'}}
              </p>
              <p>
                {{ product.description }}
              </p>
             </mat-card-content>
             <button mat-raised-button color="primary" (click)="addToCart(product)" >Add to Cart</button>
             <button mat-raised-button color="accent" (click)="openDialog(product)" >View Details</button>

          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
