

.product-list {
    // top: 600px;
}

.product-list-compress {
    // top: 1500px;
}

.product-wrap {
    position: relative;
    // cursor: pointer;

}

.product-image {
    min-width: 100%;
    min-height: 200px;
    object-fit: contain
}

.product-text {
    text-align: center;
    // background-color: rgba(211, 211, 211, 0.822);
    // color: white;
    // height: 50px;
    margin: 0;
    // font-size: 24px;
}

.product-text p {
    padding-top: 3%;
    margin: 0;
}

.mat-card-product {
    margin: 0 auto;
}