<section class="about" fxShow  fxHide.xs fxHide.sm fxFill fxLayoutGap="20px" fxLayoutAlign="center center" fxLayout="row">
    <mat-card fxFlex="45" class="about-card-content">
        <mat-card-content  fxLayout="column"  fxLayoutAlign="center center"   class="about-card-text">
            <h2>ABOUT</h2>
            <p class="about-eng">Hans interior design is a work production interior design business that provides a new generation of design lifestyle improvement and enhancement concept design centers. Years of experience to provide customers with design services, welcome to inquire, free quotes, home-made custom, professional drawing, on-site management.</p>
      
            <p class="about-chinese">興時室內設計公司是一家室內設計及工程公司，提供新一代的設計意念,注重改善生活方式和增強概念性的設計中心。 多年的經驗為客戶提供設計服務，歡迎來電諮詢，免費報價，自製定做，專業圖紙，現場管理。</p>
      
          </mat-card-content>
    </mat-card>
    <mat-card fxFlex="45" fxLayout="row" fxLayoutGap="10px" class="about-card-image">

      <mat-grid-list fxFlex gutterSize="5px" cols="3" rowHeight="150px">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
           >
          <img src="{{tile.img}}">
        </mat-grid-tile>
      </mat-grid-list>

    </mat-card>

</section>


<section fxHide fxShow.xs  fxShow.sm class="about">
  <mat-card>
    <mat-card-content  class="about-card-text">
      <h2>ABOUT</h2>
      <p class="about-eng ">Hans interior design is a work production interior design business that provides a new generation of design lifestyle improvement and enhancement concept design centers. Years of experience to provide customers with design services, welcome to inquire, free quotes, home-made custom, professional drawing, on-site management.</p>

      <p class="about-chinese ">興時室內設計公司是一家室內設計及工程公司，提供新一代的設計意念,注重改善生活方式和增強概念性的設計中心。 多年的經驗為客戶提供設計服務，歡迎來電諮詢，免費報價，自製定做，專業圖紙，現場管理。</p>

    </mat-card-content>
  </mat-card>
  <mat-card>

    <mat-card-content  *ngFor="let tile of tiles">
      <img mat-card-imagee src="{{tile.img}}">

    </mat-card-content>
  </mat-card>

</section>