
<div class="cart-item">
    <mat-card>
        <mat-card-content>
            <span>{{ cartItem.productName  }}</span> x 
            <span>{{ cartItem.qty}}</span>: 
            <strong>{{ cartItem.qty * cartItem.price | currency:'HKD'}}</strong>
            
        </mat-card-content>
        <button mat-raised-button color="ascent" (click)="callMinusItem()">-</button>
        <button mat-raised-button color="primary" (click)="callAddItem()">+</button>

    </mat-card>
</div>