a{
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.nav-caption{
    display: inline-block;
    padding-left: 6px;
}

.fa-icon-facebook p {
   padding-left: 8px;
}

.fa-icon-instagram p {
    padding-left: 10px;
 }

 .copy-right {
     text-align: center;
     margin-top: 200px;
 }