<mat-nav-list>
    <!-- <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/about" (click)="onSidenavClose()">
        <mat-icon>article</mat-icon> <span class="nav-caption">About</span>   
    </a> -->
    <a mat-list-item routerLink="/product" (click)="onSidenavClose()">
        <mat-icon>photo_album</mat-icon><span class="nav-caption">Product</span>
    </a>
    <!-- <a mat-list-item routerLink="/contact" (click)="onSidenavClose()">
        <mat-icon>contacts</mat-icon><span class="nav-caption">Contact</span>
    </a> -->
    <!-- <a class="fa-icon-facebook" mat-list-item target="__blank" href="https://www.facebook.com/Hansinterior/" (click)="onSidenavClose()">
        <fa-icon [icon]="['fab', 'facebook']" size="lg"></fa-icon>
        <p>Facebook</p>
    </a>
    <a class="fa-icon-instagram" mat-list-item  target="__blank" href="https://www.instagram.com/hans.interiordesign/?hl=zh-hk" (click)="onSidenavClose()">
        <fa-icon [icon]="['fab', 'instagram']" size="lg"></fa-icon>
        <p>Instagram</p>
    </a>
    <a mat-list-item target="__blank" href="mailto:info@hansdesign.com.hk" (click)="onSidenavClose()">
        <mat-icon>email</mat-icon><span class="nav-caption">Email</span>
    </a>
    <a mat-list-item  target="__blank" href="https://api.whatsapp.com/send?phone=85297263775" (click)="onSidenavClose()">
        <mat-icon>perm_phone_msg</mat-icon><span class="nav-caption">Phone</span>
    </a>
    <p class="copy-right" mat-list-item >&copy; 2020 hans-design.com</p> -->
</mat-nav-list>