.contact {
    height: 100vh !important;
}

#map {
    height: 500px;
    width: 100%;
    top: 50px;
   }
   
.contact-container span {
    font-weight: bold;
}

.contact-card-text {
    // text-align: left;
    color: #b1b1b1;
}

.contact-card-text a {
    color: #b1b1b1;
    text-decoration: none;
    text-decoration: underline;
}