<mat-card 
    *ngIf="cartItems.length === 0"
    color='ascent'>
    <mat-card-content>
        Your Cart is Empty!
    </mat-card-content>
</mat-card>
<mat-grid-list
    *ngIf="cartItems.length > 0"
    cols="1"
    rowHeight="100">
    <mat-grid-tile
    *ngFor="let item of cartItems">
    <app-cart-item [cartItem]="item" (minusItem)="minusItem($event)" (addItem)="addItem($event)"></app-cart-item>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            Total: {{ cartTotal | currency:'HKD'}}
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>