<mat-toolbar color="primary">
  <div class="header-button" fxHide.gt-sm>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div fxLayout="column" fxFill fxFlex >
    <div class="header-first-row" fxFlex fxLayout fxLayoutAlign="center">
        <!-- <a routerLink="/home">Owner-Account</a> -->
        <!-- <img class="header-img"  src="assets/images/logo-hans.jpeg"> -->
    </div>
    <div class="header-second-row" fxFlex fxLayout fxLayoutAlign="center center" fxHide.sm  fxHide.xs>
        <ul fxLayout fxLayoutGap="35px" class="navigation-items">
            <!-- <li>
                <a routerLink="/home">Home</a><mat-divider></mat-divider>
            </li>
            <li>
                <a routerLink="/about">About</a><mat-divider></mat-divider>
            </li> -->
            <li>
                <a routerLink="/product">Product</a><mat-divider></mat-divider>
            </li>
            <!-- <li>
                <a routerLink="/contact">Contact</a><mat-divider></mat-divider>
            </li> -->
        </ul>
    </div>
  </div>

</mat-toolbar>
