.header-img {
    width: 300px;
    object-fit: scale-down;
    // padding-right: 30px;
}

a {
    text-decoration: none;
    color: rgba(80, 80, 80, 0.425);
}
 
a:hover, a:active{
    color: rgb(218, 216, 216);
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 3px;
    height: 300px;
}
.header-first-row {
    padding-top: 30px;
}

.header-button {
    height: 100%;
}

img {
    height: fit-content; //so that it takes up full space
    max-height: 150px !important; // this prevents the image from being extremely big
    object-fit: cover; 
    object-position: center; /* this centers and crops the image so that it doesn't break the aspect ratio */
  }
 
// @media(max-width: 959px){
//     mat-toolbar{
//         border-radius: 0px;
//     }
// }