<section class="shopping-cart" fxFlex fxLayout="row" >
    <div class="col" fxFlex="80">
        <app-product-list></app-product-list>
    </div>
    <div class="col" fxFlex >
        <app-cart></app-cart>
    </div>
</section>