@import '~@angular/material/theming';

@include mat-core();

$my-theme-primary: mat-palette($mat-grey,100);
$my-theme-accent:  mat-palette($mat-pink, A200,A100, A400);
// $my-theme-warn:  mat-palette($mat-red);

// $my-theme:   mat-light-theme((
//   color: (
//     primary: $my-theme-primary,
//     accent: $my-theme-accent,
//     warn: $my-theme-warn
//   )
// ));

$my-theme: mat-light-theme( $my-theme-primary, $my-theme-accent);

@include angular-material-theme($my-theme);