/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "./my-theme.scss";

/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 100%;
    font-family: 'Niramit';
}


@font-face {
    font-family: 'Quicksand';
    src: url('assets/fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-SemiBold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Niramit';
  src: url('assets/fonts/Niramit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Niramit';
  src: url('assets/fonts/Niramit-Bold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Niramit';
  src: url('assets/fonts/Niramit-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'NotoSansTC';
  src: url('assets/fonts/NotoSansTC-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansTC';
  src: url('assets/fonts/NotoSansTC-Bold.otf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansTC';
  src: url('assets/fonts/NotoSansTC-Light.otf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Niramit',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
  
);

// Override the typography in the core CSS.
@include mat-core($custom-typography);