<section class="home" fxFill fxLayout="row">
  <div fxFill fxLayoutAlign="center center">
    <h1 class="hone-title">Home and Nature Symmetry</h1>
  </div>

   <!-- <mat-tab-group>
    <mat-tab label="Material Components"> 
      <p>We are going to use different material components to create nice looking angular app.</p> 
    </mat-tab>
    <mat-tab label="Consume .NET Core Web API">
       <p>We will consume our .NET Core application. Basically, we will create complete CRUD client app.</p>
      </mat-tab>
    <mat-tab label="Fully responsive navigation menu">
       <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab>
  </mat-tab-group> -->
</section>
